@CHARSET "ISO-8859-1";

h1{
	font-family:"Times New Roman";
	font-size:40px;
	text-align: center;
}
h4{
	font-family:"Times New Roman";
	font-size:20px;
}
h4#agents{
	float: left;
	width: 200px;
}
h4#scripts{
	float: right;
}
h4#lists{
	float: left;
	padding-left: 230px;
}
button#done{
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 20px;
}
button#refresh{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
div#display{
	width: 900px;
	margin-left:auto;
	margin-right:auto;
}
div#board{
	height: 800px;
}
div#head{
	height: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid #000080;
}
img#img{
	float: right;
	width: 50px;
}
img{
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
label{
	margin-right: 100px;
}
div#agent{
	height: 50px;
	border: 1px solid #000080;
}